@{
    ViewData["Title"] = "Browse";
}

<h2>Browse</h2>
<h3>Add New Comics Here</h3>

<h3> Current Ongoing Marvel Comics</h3>
<ul>
    <li>Xmen Blue</li>
    <li>Moon Knight</li>
    <li>All New Guardians of the Galaxy</li>
</ul>
