@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel">
    <h4>Your Favorite Comics</h4>
    <ul>
        <li>Moon Knight</li>
        <li>X-Men Blue</li>
    </ul>
</div>
<div class="glyphicon-calendar">
    Release Dates
</div>
