@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Your Favorite Comics</h4>
    <button id="hideComicsButton" class="btn-default">Hide Comics</button>
    <div id="comicListWrapper">
        <ul id="favComicsList">
            <li>Moon Knight</li>
            <li>X-Men Blue</li>
        </ul>
    </div>
</div>
<div class="">
    Release Dates
</div>
