@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="inline">Favorites </h3>
    <a href="#" id="hideComicsButton" class="inline"><i class="fa fa-angle-up fa-lg"></i></a>
    <div id="comicListWrapper">
        <ul id="favComicsList">
            <li>Moon Knight</li>
            <li>X-Men Blue</li>
        </ul>
    </div>
</div>
<div class="">
    Release Dates
</div>
