@model IEnumerable<MyComics.Models.Marvel.Series>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="inline">Favorites </h3>
    <a href="#" id="hideComicsButton" class="inline"><i class="fa fa-angle-up fa-lg"></i></a>
    <div id="comicListWrapper">
        <ul id="favComicsList">
            @foreach (var item in Model)
            {
                <li>@item.Title</li>
            }
            
        </ul>
    </div>
</div>
<div class="">
    Release Dates
</div>
